<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase_2_Ass.Practices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetHandler</display-name>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>phase2_Servlets.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/GetHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostHandler</display-name>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>phase2_Servlets.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/PostHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>phase2_Servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>phase2_Servlets.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountProfile</display-name>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>phase2_Servlets.AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/AccountProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDashboard</display-name>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>phase2_Servlets.AccountDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/AccountDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoPage</display-name>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>phase2_Servlets.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/InfoPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFilter</display-name>
    <servlet-name>LoginFilter</servlet-name>
    <servlet-class>phase2_Servlets.LoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFilter</servlet-name>
    <url-pattern>/LoginFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>phase2_Servlets.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>interfacedemo</display-name>
    <servlet-name>interfacedemo</servlet-name>
    <servlet-class>phase2_Servlets.interfacedemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>interfacedemo</servlet-name>
    <url-pattern>/interfacedemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>phase2_Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>phase2_Servlets.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginout</display-name>
    <servlet-name>loginout</servlet-name>
    <servlet-class>phase2_Servlets.loginout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginout</servlet-name>
    <url-pattern>/loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logindashboard</display-name>
    <servlet-name>logindashboard</servlet-name>
    <servlet-class>phase2_Servlets.logindashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logindashboard</servlet-name>
    <url-pattern>/logindashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutservlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>phase2_Servlets.logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoJDBC</display-name>
    <servlet-name>DemoJDBC</servlet-name>
    <servlet-class>jdbcConnection.DemoJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJDBC</servlet-name>
    <url-pattern>/DemoJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>jdbcConnection.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBOperations</display-name>
    <servlet-name>DBOperations</servlet-name>
    <servlet-class>jdbcConnection.DBOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBOperations</servlet-name>
    <url-pattern>/DBOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails2</display-name>
    <servlet-name>ProductDetails2</servlet-name>
    <servlet-class>jdbcConnection.ProductDetails2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails2</servlet-name>
    <url-pattern>/ProductDetails2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>storedproc</display-name>
    <servlet-name>storedproc</servlet-name>
    <servlet-class>jdbcConnection.storedproc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storedproc</servlet-name>
    <url-pattern>/storedproc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductBean</display-name>
    <servlet-name>ProductBean</servlet-name>
    <servlet-class>Jsp.ProductBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBean</servlet-name>
    <url-pattern>/ProductBean</url-pattern>
  </servlet-mapping>
</web-app>